<h2> A list of @Model["brand"].GetName()'s Stores</h2>
@if (@Model["stores"].Count == 0)
{
  <p> I'm sorry! No store under this brand.</p>
}
else
{
  @foreach(var store in Model["stores"])
  {
    <li>
      <a href="/stores/@store.GetId()">@store.GetName()</a> |
      <a href="/stores/@store.GetId()/edit">Edit</a> |
      <form action="/stores/@store.GetId()/delete" method="post">
        <label>Delete your store</label>
        <input type="hidden" name="_method" value="DELETE">
        <button type="submit" name="button">Delete</button>
      </form>
    </li>
  }
}

<hr>
<form action='/brands/@Model["brand"].GetId()/new' method="post">
  <label for="name">Name</label>
  <input id="brand-id" type="text" name="name">
  <br><br>
  <label>Brand</label>
  <select name="brand-id">
    @foreach(var brand in @Model["brands"])
    {
      <option value="@brand.GetId()">@brand.GetName()</option>
    }
  </select>
  <br><br>
  <button type="'button'" name="button">Add</button>
</form>

<hr>
<a href="/brands">Return to list of all brands</a>
