<h1>A List of @Model["store"].GetName()'s Brands</h1>
@if (@Model["brands"].Count == 0)
{
  <p>I'm sorry! No brands have neen added to this store.</p>
}
else
{
  @foreach(var brand in Model["brands"])
  {
    <li> @brand.GetName()</li>
  }
}

<hr>
<form action='/stores/@Model["store"].GetId()/new' method="post">
  <label for="name">Name: </label>
  <input id="name" type="text" name="name">
  <br><br>
  <label for="store-id">Store: </label>
  <select name="store-id">
    @foreach(var store in @Model["stores"])
    {
      <option value="@store.GetId()">@store.GetName()</option>
    }
  </select>
  <br><br>
  <button type="submit">Add brand</button>
</form>

<hr>
<a href="/stores">Return to the list of all stores</a>
